
body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    
}
h1 {
    font-family:'Oswald';
   text-align: center;
   color: rgb(82,75,75);
  }
  p {
    font-family:'Oswald';
   text-align: center;
   color: rgb(82,75,75);
  }
  a {
    color:red;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
#today-challenge {
color: rgb(167, 1, 78);
font-weight: bold;
font-size: 52px;
}
